@{
    ViewData["Title"] = "Resume";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric Grigor's Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .main-container {
            margin: 2rem auto;
        }
    </style>
</head>
<body>
    <div class="main-container">
        <h1 class="text-center">Eric Grigor</h1>
        <p class="text-center">Toronto, ON</p>
        <p class="text-center">
            <a href="http://www.EricG.ca">www.EricG.ca</a> |
            <a href="https://www.linkedin.com/in/eric-grigor">www.linkedin.com/in/eric-grigor</a>
            <a href="mailto:le41cl@gmail.com">le41cl@gmail.com</a>
        </p>
        <hr>
        <h2>Objective</h2>
        <p>Transitioning from hospitality and tourism to the field of Information Technology, I am seeking a full-time role that leverages my customer service experience and newly acquired technical skills</p>

        <h2>Highlight of Qualifications</h2>
        <ul>
            <li>Full-stack ASP.Net Core C# Web Apps</li>
            <li>Java, Python, and other OOP programming</li>
            <li>Data Base including my SQL and Oracle Database</li>
            <li>Strong ability to adapt to different working environments and conditions.</li>
        </ul>

        <h2>Technical Skills</h2>
        <ul>
            <li>Programming: Python, Java, C#</li>
            <li>Web: Model, View, Controller (MVC)</li>
            <li>Web Applications: Visual Studio, and all JetBrains IDES</li>
            <li>Operating Systems: Windows, Mac, Linux, for full-stack web app</li>
            <li>Mobile Technologies: Visual Studio, C# using .Net cross-platform</li>
            <li>Networking Systems Using Scrum, and Agile software development</li>
        </ul>

        <h2>Education</h2>
        <h3>T177 Computer Programming – Advance Ontario Diploma (3 years)</h3>
        <p>Jan 2022 - April 2024</p>
        <p>George Brown College | Toronto, Ontario</p>

        <h4>Key Courses/Concepts:</h4>
        <ul>
            <li>Computer Programming</li>
            <li>Database using my SQL</li>
            <li>Full-Stack, including AI</li>
        </ul>

        <h2>Academic Project</h2>
        <h4>George Brown College</h4>
        <p>April 2024</p>
        <p>George Brown College | Toronto, Ontario</p>
        <ul>
            <li>Web and App development, using many technologies</li>
            <li>Head of my classes and program</li>
            <li>Including front-end and back-end</li>
        </ul>

        <h2>Certificates</h2>
        <h3>Google IT Support Professional Certificate</h3>
        <p>Google | Toronto, Ontario</p>
    </div>

</body>
</html>



